<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Medula+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="assets/img/burgericon.jpg">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
    <title>Tech News</title>
</head>
<body>
    <h1>Tech News Scraper</h1>
	<img src="/assets/img/technewsbanner.jpg" id="banner_image">

	{{{ body }}}

	<footer class="footer">
		<div class="footer-copyright">
			<div class="container">
				<div>© 2019</div>
				<a><href="....">TanyaO</a>
			</div>
		</div>
	</footer>
</body>
</html>